@model EmpleadoModel
@{
    ViewData["Title"] = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Modificar Empleado
    </div>
    <div class="card-body">
        <form asp-action="Modificar" asp-controller="Mantenedor" method="post">
            <input asp-for="id" type="hidden" class="form-control">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Nombre" type="text" class="form-control">
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Salario</label>
                <input asp-for="Salario" type="number" class="form-control">
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Modificar</button>
            <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>

